{{hostname}}:
    hostname: {{ipaddress}}
    platform: {{platform}}
    groups:
        - {{groups}}
    data:
        hardware_type: {{hardware_type}}
        tacacs_server: {{tacacs_server}}
        tacacs_key: {{tacacs_key}}
        radius_server: {{radius_server}}
        radius_key: {{radius_key}}
        mgmt_vlan: {{mgmt_vlan}}
        source_int: {{source_int}}

